/* Dropdown Menu Color */
.btn-secondary {
  background-color: #B1ECC8;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* COMPOSE Button Color */
.btn-primary {
  background-color: #4ac3c3;
}

/*SEARCH button*/
.btn-outline-secondary {
  background-color: #dab1e8;
}
.btn-secondary {
  background color
}