/* Dropdown Menu Color */
.btn-secondary {
  background-color: #dc9aa3;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* COMPOSE Button Color */
.btn-primary {
  background-color: #4ac3c3;
}

/*SEARCH button*/
.btn-outline-secondary {
  background-color: #dab1e8;
}
.btn-secondary {
  background color
}

.dropdown-menu {
  background-color: #B1ECC8;
}
.list-group-item-action.active {
  background-color: #ADD8E6; /* Light blue background color */
  color: #FFFFFF; /* White text color */
}
