/* Dropdown Menu Color */
.dropdown {
  background-color: #B1ECC8;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Compose Button Color */
.btn-compose {
  background-color: #A1F8F8;
}